/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  text-align: center;
}

.letters {
 padding: 20px 0;
}

.letters div {
 display: inline-block;
 text-align: center;
 font-size: 24px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #3498DC;
 border: 2px solid #2f8ac7;
 width: 60px;
 height: 60px;
 margin: 5px;
 padding: 10px;
}

.btn {
 background-color: #3498DC;
 border-color: #3498DC;
}
